
.about-me {
  text-align: center;
}

.withbg {
  background-image: url(../assets/images/gontran-isnard-3-fuFf4gPNY-unsplash.jpg);
  background-size: cover;
}

.image-responsive {
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 200px;
    text-align: center;

}

